* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #eb1616;
  --white-color: #ffffff;
  --title-font: #6c7293;
  --sidebar-width: 250px;
  --sidebar-height: 100vh;
  --header-height: 64px;
  --primary-font-family: "Open Sans";
  --secondary-font-family: "Roboto";
  --font-size: 16px;
  --line-height: 1.6;
  --font-weight: 400;
  --sidebar-color-dark: #191c24;
  --bg-color-dark: #000000;
  --gutter-width: 16px;
}

body {
  font-family: var(--primary-font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--bg-color-dark);
  font-weight: var(--font-weight);
}

.container {
  width: 100%;
  padding-left: var(--gutter-width);
  padding-right: var(--gutter-width);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc((-1) * var(--gutter-width));
  margin-right: calc((-1) * var(--gutter-width));
}

.w-1 {
  width: 8.3333%;
}

.w-2 {
  width: 16.6666%;
}

.w-3 {
  width: 25%;
}

.w-4 {
  width: 33.3333%;
}

.w-5 {
  width: 41.6666%;
}

.w-6 {
  width: 50%;
}

.w-7 {
  width: 58.3333%;
}

.w-8 {
  width: 66.6666%;
}

.w-9 {
  width: 75%;
}

.w-10 {
  width: 83.3333%;
}

.w-11 {
  width: 91.6666%;
}

.w-12 {
  width: 100%;
}

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
  border: 1px solid black;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0%;
}

li {
  list-style: none;
}
.pos-relative {
  position: relative;
}

/* header */
.header-main {
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: var(--sidebar-width);
  position: fixed;
  background-color: var(--sidebar-color-dark);
}

/* sidebar */
.sidebar {
  width: var(--sidebar-width);
  height: var(--sidebar-height);
  background-color: var(--sidebar-color-dark);
  position: fixed;
  padding: 8px 24px 24px 0;
  top: 0;
  left: 0;
  overflow-y: scroll;
}
.sidebar .logo {
  margin: 0 24px 16px;
  padding: 5px 0;
}
.sidebar .logo a h3 {
  font-size: 28px;
  color: var(--primary-color);
  margin: 0 0 8px;
}
.sidebar .user {
  margin: 0 0 24px 24px;
}
.sidebar .user img {
  border-radius: 50%;
}
.sidebar .user .user-name {
  margin: 0 0 0 16px;
}
.sidebar .user .active {
  position: absolute;
  background-color: #198754;
  border-radius: 50%;
  padding: 4px;
  border: 2px solid var(--white-color);
  z-index: 99;
  top: 28px;
  right: 0;
}
.sidebar .user .user-name h6 {
  font-weight: 700;
  line-height: 1.2;
  color: var(--white-color);
  font-family: var(--secondary-font-family);
  font-size: 1rem;
}
.sidebar .user .user-name span {
  font-size: 1rem;
  font-family: var(--primary-font-family);
  color: var(--title-font);
}

.sidebar .navbar ul .item-list {
  padding: 7px 20px;
}
.sidebar .navbar ul .item-list a {
  /* display: inline-block; */
  color: var(--title-font);
}

.sidebar .navbar ul li a i {
  font-size: 18px;
  width: 40px;
  height: 40px;
  background-color: var(--bg-color-dark);
  display: inline-flex;
  border-radius: 40px;
  margin: 0 8px 0 0;
}
.sidebar .navbar ul .active {
  background-color: var(--bg-color-dark);
  border-left: 3px solid var(--primary-color);
  border-radius: 0 30px 30px 0;
}
.sidebar .navbar ul .active a {
  color: var(--primary-color);
}
.sidebar .navbar ul .active a i {
  background-color: #191c24;
}
.sidebar li .dropdown .dropdown-menu {
  padding: 8px 0;
  margin: 2px 0 0;
}
.sidebar li .dropdown .dropdown-menu a {
  padding: 4px 16px 4px 5px;
  display: block;
}
.sidebar .item-list .dropdown .dropdown-menu a:hover {
  background-color: var(--bg-color-dark);
  border-radius: 0 30px 30px 0;
}
.sidebar li .dropdown::after {
  content: "\f107";
  font-family: "Font Awesome 6 Free";
  font-size: 14px;
  position: absolute;
  font-weight: 900;
  top: 17px;
  right: 30px;
  color: var(--title-font);
  transition: 0.5s;
}

/* main-content */
.main-content {
  margin-left: var(--sidebar-width);
  margin-top: var(--header-height);
  padding: 24px 24px 0;
}
