* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #eb1616;
  --white-color: #ffffff;
  --title-font: #6c7293;
  --sidebar-width: 250px;
  --sidebar-height: 100vh;
  --header-height: 64px;
  --primary-font-family: "Open Sans";
  --secondary-font-family: "Roboto";
  --font-size: 16px;
  --line-height: 1.6;
  --font-weight: 400;
  --sidebar-color-dark: #191c24;
  --bg-color-dark: #000000;
  --gutter-width: 16px;
}

body {
  font-family: var(--primary-font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--bg-color-dark);
  font-weight: var(--font-weight);
}

.container {
  width: 100%;
  padding-left: var(--gutter-width);
  padding-right: var(--gutter-width);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc((-1) * var(--gutter-width));
  margin-right: calc((-1) * var(--gutter-width));
}

.m-b-24 {
  margin-bottom: 24px;
}

.w-1 {
  width: 8.3333%;
}

.w-2 {
  width: 16.6666%;
}

.w-3 {
  width: 25%;
}

.w-4 {
  width: 33.3333%;
}

.w-5 {
  width: 41.6666%;
}

.w-6 {
  width: 50%;
}

.w-7 {
  width: 58.3333%;
}

.w-8 {
  width: 66.6666%;
}

.w-9 {
  width: 75%;
}

.w-10 {
  width: 83.3333%;
}

.w-11 {
  width: 91.6666%;
}

.w-12 {
  width: 100%;
}

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
  padding-left: var(--gutter-width);
  padding-right: var(--gutter-width);
  /* border: 1px solid #fff; */
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.d-block {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0%;
}

li {
  list-style: none;
}

.pos-relative {
  position: relative;
}

/* sidebar */
.sidebar {
  width: var(--sidebar-width);
  height: var(--sidebar-height);
  background-color: var(--sidebar-color-dark);
  position: fixed;
  padding: 8px 24px 24px 0;
  top: 0;
  left: 0;
  overflow-y: scroll;
  transition: all 0.3s;
}

body.close .sidebar {
  width: 0%;
  padding: 0;
}

body.close .sidebar .logo {
  display: none;
}

.logo {
  margin: 0 24px 16px;
  padding: 5px 0;
}

.logo a h3 {
  font-size: 28px;
  color: var(--primary-color);
  margin: 0 0 8px;
}

.sidebar .user {
  margin: 0 0 24px 24px;
}

.user img {
  border-radius: 50%;
}

.sidebar .user .user-name {
  margin: 0 0 0 16px;
}

.sidebar .user .active {
  position: absolute;
  background-color: #198754;
  border-radius: 50%;
  padding: 4px;
  border: 2px solid var(--white-color);
  z-index: 99;
  top: 28px;
  right: 0;
}

.user .user-name h6 {
  font-weight: 700;
  line-height: 1.2;
  color: var(--white-color);
  font-family: var(--secondary-font-family);
  font-size: 1rem;
}

.sidebar .user .user-name span {
  font-size: 1rem;
  font-family: var(--primary-font-family);
  color: var(--title-font);
}

.navbar ul .item-list a {
  color: var(--title-font);
  padding: 7px 20px;
  display: block;
  transition: all 0.15s ease-in-out;
}

.navbar ul li a i {
  font-size: 18px;
  width: 40px;
  height: 40px;
  background-color: var(--bg-color-dark);
  display: inline-flex;
  border-radius: 40px;
  margin: 0 8px 0 0;
}
.navbar ul li a.activeli {
  background-color: var(--bg-color-dark);
  border-left: 3px solid var(--primary-color);
  border-radius: 0 30px 30px 0;
}
.navbar ul li a.activeli {
  color: var(--primary-color);
}
.navbar ul li a.activeli i {
  background-color: #191c24;
}
.sidebar .navbar ul li:hover .act {
  background-color: var(--bg-color-dark);
  border-left: 3px solid var(--primary-color);
  border-radius: 0 30px 30px 0;
}
.sidebar .navbar ul li:hover .act {
  color: var(--primary-color);
}
.sidebar .navbar ul li:hover .act i {
  background-color: #191c24;
}

.sidebar li .dropdown-menu {
  display: none;
}

.sidebar li .dropdown-menu {
  padding: 8px 0;
  margin: 2px 0 0;
}

.sidebar li .dropdown-menu a {
  padding: 4px 16px 4px 25px;
  display: block;
}

.sidebar .dropdown-menu a:hover {
  background-color: var(--bg-color-dark);
  border-radius: 0 30px 30px 0;
}

.sidebar li .dropdown::after {
  content: "\f107";
  font-family: "Font Awesome 6 Free";
  font-size: 14px;
  position: absolute;
  font-weight: 900;
  top: 17px;
  right: 30px;
  color: var(--title-font);
  transition: 0.5s;
}
.sidebar ul li:hover .dropdown::after {
  color: var(--primary-color);
}

/* header */
.header-main {
  width: 100%;
  height: var(--header-height);
  top: 0;
  position: fixed;
  background-color: var(--sidebar-color-dark);
  margin-left: -25px;
  z-index: 999;
}

.body.close .header-main {
  margin-left: 0;
}

.header-main .hamburgar-menu a {
  color: var(--primary-color);
  background-color: var(--bg-color-dark);
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  border-radius: 40px;
}

.header-main .search {
  margin-left: 1.5rem;
}

.search .form-control {
  padding: 6px 12px;
  background-color: var(--bg-color-dark);
  border: none;
  border-radius: 5px;
  line-height: 1.5;
  color: var(--title-font);
  width: 100%;
  display: block;
  font-weight: 400;
}

.outline {
  outline: 3px solid rgba(235, 22, 22, 0.3);
}

.search .form-control::placeholder {
  font-size: 16px;
}

.header-main .user-image {
  margin: 0 8px 0 0;
}
.header-main .activeness li:hover .act2 {
  color: var(--primary-color);
}

.header-main .dropdown-menu {
  position: absolute;
  padding: 0.5rem 0;
  top: 100%;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  font-size: 1rem;
  list-style: none;
  background-color: var(--sidebar-color-dark);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.header-main .dropdown-menu ul li a {
  transition: all 0.5s ease-in-out;
}

.header-main .dropdown-menu ul li a:hover {
  background-color: var(--bg-color-dark);
}

.header-main li .dropdown::after {
  content: "\f107";
  font-family: "Font Awesome 6 Free";
  font-size: 14px;
  position: absolute;
  font-weight: 900;
  top: 18px;
  right: -3px;
  color: var(--title-font);
  transition: 0.5s;
}
.header-main .activeness li:hover .dropdown::after {
  color: var(--primary-color);
}

.header-main ul li .dropdown-item .msg {
  margin: 0 0 0 8px;
}

.header-main ul li .dropdown-item .msg h6 {
  font-size: 16px;
  color: var(--white-color);
  font-family: var(--secondary-font-family);
}

.header-main ul li .dropdown-item .msg small {
  font-size: 14px;
}

.header-main .dropdown-menu .dropdown-divider {
  height: 1px;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  color: inherit;
  background-color: var(--title-font);
  border: 0;
  opacity: 0.25;
}

/* main-area*/
.main-area {
  margin-left: var(--sidebar-width);
  margin-top: var(--header-height);
  padding: 24px 24px 0;
  transition: all 0.5s;
}

body.close .main-area {
  margin-left: 0%;
}
/* sale-start */
.main-area .sale-start .sale {
  padding: 1.5rem;
  background-color: var(--sidebar-color-dark);
  border-radius: 5px;
}

.main-area .sale-start .sale i {
  color: var(--primary-color);
  font-size: 3em;
}

.main-area .sale-start .sale .sale-text p {
  color: var(--title-font);
  margin-bottom: 8px;
}

.main-area .sale-start .sale .sale-text h6 {
  color: var(--white-color);
  font-family: var(--secondary-font-family);
  font-size: 16px;
}
/* chart */
.main-area .chart .chart-content {
  background-color: var(--sidebar-color-dark);
  padding: 24px;
  border-radius: 5px;
}

.main-area .chart .chart-content .chart-text,
.table-text {
  margin: 0 0 24px;
}

.main-area .chart .chart-content .chart-text h6,
.table-text h6,
.msg-text h6 {
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  color: var(--white-color);
}

.main-area .chart .chart-content .chart-text a,
.table-text a,
.msg-text a {
  color: var(--primary-color);
}

/* sales-table */

.main-area .sales-table {
  background-color: var(--sidebar-color-dark);
  padding: 24px;
  border-radius: 5px;
}
.form-check-input {
  width: 1rem;
  height: 1rem;
  margin-top: 4px;
  vertical-align: top;
  background-color: #000;
  border: 1px solid rgba(0, 0, 0, 0.25);
  appearance: none;
  border-radius: 0.25em;
}
.table {
  width: 100%;
  border: 1px solid #000;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
table th td {
  border: 1px solid;
  border-color: var(--bg-color-dark);
}
table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.main-area .sales-table .table th {
  color: var(--white-color);
  padding: 8px;
  font-weight: 600;
}
.detail-btn {
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2em;
}
.main-area .sales-table .table td {
  padding: 8px;
  color: var(--title-font);
}

/* widgets */
.main-area .widgets .messages,
.calander,
.todo-list {
  background-color: var(--sidebar-color-dark);
  padding: 24px;
  border-radius: 5px;
}
.py-16 {
  padding: 16px 0;
}
.pt-16 {
  padding-top: 16px;
}
.border-bottom {
  border-bottom: 1px solid var(--bg-color-dark);
}
.msg-text {
  margin: 0 0 8px;
}
.msg-title h6 {
  font-size: 1rem;
  color: var(--white-color);
  font-family: var(--secondary-font-family);
}
.m-16 {
  margin: 0 0 0 16px;
}
.msg-p span {
  color: var(--title-font);
}
.m-b-24 {
  margin: 0 0 24px;
}
.todo {
  padding: 8px 0;
  margin-top: 10px;
}
.m-l-1 {
  margin-left: 1rem;
}
.m-l-72 {
  margin-left: 72px;
}
.todo button {
  background-color: transparent;
  border: none;
  color: var(--title-font);
}

/* footer */
.footer {
  background-color: var(--sidebar-color-dark);
  padding: 24px;
  border-radius: 5px;
}
.footer .footer-text span {
  color: var(--title-font);
  font-size: 1rem;
}
.footer .footer-text a {
  color: var(--primary-color);
}
/* back to top */
.back-to-top {
  z-index: 9999;
}

/* signin page */
.signin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box {
  background-color: var(--sidebar-color-dark);
  padding: 48px;
  margin: 24px 16px;
  border-radius: 5px;
}
.box h3 {
  font-family: var(--secondary-font-family);
  font-size: 28px;
  color: var(--white-color);
}
.title {
  margin: 0 0 16px;
}
.title .logo {
  margin: 0;
}
.input .form-control {
  padding: 16px 12px;
  background-color: var(--bg-color-dark);
  border-radius: 5px;
  border: none;
  line-height: 1.5;
  color: var(--title-font);
  width: 100%;
  display: block;
  font-weight: 400;
  outline: none;
}
.input .form-control::placeholder {
  color: var(--title-font);
  font-size: 16px;
}
.m-b-16 {
  margin: 0 0 16px;
}
.m-b-24 {
  margin: 0 0 24px;
}
.check-out {
  margin: 0 0 24px;
  font-size: 16px;
  color: var(--title-font);
}
.check-out label {
  margin-left: 8px;
}
.check-out a,
.sec-way a {
  color: var(--primary-color);
  transition: all 0.3s;
}
.check-out a:hover,
.sec-way a:hover,
.btn:hover {
  color: rgba(255, 0, 0, 0.7);
}
.btn .detail-btn {
  padding: 16px 12px;
  margin: 0 0 24px;
  display: block;
  font-size: 16px;
}
.m-l-80 {
  margin-left: 80px;
}
.sec-way p {
  display: inline-block;
  color: var(--title-font);
}
